.hero {
  width: 100%;
  margin: auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.video {
  max-width: 100%;
  margin-bottom: 50px;
}

.offer {
  position: absolute;
  top: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  z-index: 1;
}

@media (max-width: 1500px) {
  .offer {
    top: 30vh;
  }
}

@media (max-width: 1200px) {
  .offer {
    max-width: 700px;
    text-align: center;
  }
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #333333d5;
  box-shadow: 14px 14px 33px -8px rgb(0, 0, 0);
  padding: 30px;
  width: 240px;
  height: 240px;
  border-radius: 10px;
}

@media (max-width: 1080px) {
  .product {
    width: 400px;
  }
}

.title {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  color: #ffffff;
}

.icon {
  margin-top: 30px;
}

@media (max-width: 1200px) {
  .icon {
    width: 140px;
    height: 140px;
  }
}
