.container {
  margin: 0 auto;
  margin-top: 116px;
  margin-bottom: 90px;
  height: 500px;
  background-color: rgb(37, 36, 36, 1);
}

.wrapper {
  max-width: 1280px;
}

.options {
  padding-top: 40px;
}

.option-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Poppins", sans-serif;
  color: white;
}

.option-item {
  transition: color 250ms ease-in-out, text-shadow 250ms ease-in-out;
}

.option-item:hover,
.option-item:focus {
  color: orange;
  cursor: pointer;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.active {
  color: orange;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}
