.container {
  margin: 0 auto;
  margin-top: 130px;
  margin-bottom: 90px;
  background-color: rgb(37, 36, 36, 1);
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.options {
  padding-top: 40px;
  margin-bottom: 90px;
}

.option-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  color: white;
}

.option-item {
  font-weight: 500;
  background-color: orange;
  padding: 10px;
  border-radius: 5px;
  transition: color 250ms ease-in-out, box-shadow 250ms ease-in-out,
    background-color 250ms ease-in-out;
}

.option-item:hover,
.option-item:focus {
  background-color: rgb(199, 130, 2);
  cursor: pointer;
  box-shadow: 14px 14px 33px -8px rgb(0, 0, 0);
}

.active {
  background-color: rgb(199, 130, 2);
  box-shadow: 14px 14px 33px -8px rgb(0, 0, 0);
}

.offers {
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 90px;
}

.card-wrap {
  filter: drop-shadow(8px 8px 5px rgba(0, 0, 0, 0.3));
}

.offer-card {
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(43, 41, 41);
  border-top: 1px solid orange;
  border-bottom: 1px solid orange;
  padding: 20px;
  padding-left: 50px;
  clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
}

.separator {
  border-right: 2px solid orange;
  margin-right: 20px;
  max-width: 70%;
}

.offer-title {
  font-family: "Kanit", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.offer-dsc {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 20px;
  margin-right: 20px;
}

.offer-price {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 20px;
  max-width: 200px;
  min-width: 150px;
  text-align: center;
}
