.header {
  background-color: rgb(37, 36, 36, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 0;
}

@media (max-width: 800px) {
  .header {
    padding: 40px 0;
    flex-direction: column-reverse;
  }
}

.list {
  font-family: "Poppins", sans-serif;
}

.navigation-list {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 25px;
}

@media (max-width: 1200px) {
  .navigation-list {
    font-size: 20px;
  }
}

@media (max-width: 800px) {
  .navigation-list {
    font-size: 25px;
    margin-top: 25px;
  }
}

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
}

@media (max-width: 1200px) {
  .contact-list {
    font-size: 12px;
  }
}

@media (max-width: 800px) {
  .contact-list {
    display: none;
  }
}

.contact-item {
  gap: 5px;
  color: white;
  transition: color 250ms ease;
}

.contact-item:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
}

.navigation-item {
  cursor: pointer;
  position: relative;
  transition: font-weight 0.25s;
}

.navigation-item::after {
  content: "";
  position: absolute;
  height: 2px;
  left: 0;
  bottom: 0;
  width: 0;
  background: white;
  transition: width 0.25s;
}

.navigation-item:hover::after {
  width: 100%;
}

.navigation-item:hover {
  transition: font-weight 0.25s;
}

.logo {
  font-family: "Kanit", sans-serif;
  font-size: 35px;
}

@media (max-width: 1200px) {
  .logo {
    font-size: 25px;
  }
}

@media (max-width: 800px) {
  .logo {
    font-size: 30px;
  }
}
